<% if @meeting.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being created:</h2>
        <ul>
        <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>
<%= form_for([current_user, meeting]) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <br>

    <div>
        <%= f.label :start_time %>
        <%= f.datetime_select :start_time, { start_day: Date.today, start_year: Date.today.year, minute_step: 15 } %>
    </div>
    <br>

    <div>
        <%= f.label :end_time %>
        <%= f.datetime_select :end_time, { end_day: Date.today, end_year: Date.today.year, minute_step: 15 } %>
    </div>
    <br>

    <%= f.submit button_name %>
<% end %>


