<h1><%= @meeting.name %></h1>

<p><%= @meeting.content %></p>


  <h2>Add A Comment:</h2>
<% @meeting.comments.each do |comment| %>
    <p>
    <b><%= comment.name %> said:</b><br>
    <%= time_ago_in_words(c.created_at) %> ago 
    </p>

    <p>
    <%= comment.body %>
    </p>
<% end %>

<% form_for [@meeting, Comment.new] do |f| %>
    <p>
        <%= f.label :name, "Author" %><br>
        <%= f.text_field :name %><br>
        <%= f.label :body, "Comment Description" %><br>
        <%= f.text_area :body %><br>
    </p>
    <p>
    <%= f.submit "Add Comment" %>
<% end %>